# Pandas Introduction

* Pandas is an open source library built on top of NumPy.
* It allows for fast analysis and data cleaning/preparation. Sometimes, itâ€™s called Python version of an Excel or Python version of R DataFrames.
* It excels in performance and productivity.
* It also has built-in Data visualization features.
* It can work with data from a wide variety of sources.

## Series
Series is very similar to NumPy Array object. In fact, it is built on top of it. It is different from NumPy Arrays, as we can access Series by using labels.

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data,index=labels) #Labeled-index Series

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
labels

['a', 'b', 'c']

In [11]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series([print, sum, len])

0    <built-in function print>
1      <built-in function sum>
2      <built-in function len>
dtype: object

## Grab the information from the Series

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

In [16]:
ser1[1]

2

In [17]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [18]:
ser3[0]

'a'

## Series Operations

In [19]:
ser1 + ser2 # If it matches the indexes, it would do the sum, 
            # otherwise NaN and while adding 2 integer objects it has converted into an Floating Object.

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64