## Download SF Salaries Dataset from Kaggle
https://www.kaggle.com/kaggle/sf-salaries/data

## 1. Import pandas as pd

In [2]:
import pandas as pd

## 2. Read Salaries.csv as a dataframe called sal

In [3]:
sal = pd.read_csv("data/Salaries.csv")

C:\Users\ihrishi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 3. Check the head of the Dataframe

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## 4. Use the .info() method to find out how many entries there are.

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

## 5. What is the average TotalPay?

In [6]:
sal['TotalPay'].mean()

74768.321971703

## 6. What is the highest amount of TotalPayBenefits in the dataset?

In [7]:
sal['TotalPayBenefits'].max()

567595.43

## 7. What is the job title of PATRICIA JACKSON?

In [8]:
sal[sal['EmployeeName'] == 'PATRICIA JACKSON']['JobTitle']

11    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

## 8. How much does PATRICIA JACKSON make(including benefits)?

In [9]:
sal[sal['EmployeeName'] == 'PATRICIA JACKSON']['TotalPayBenefits']

11    297608.92
Name: TotalPayBenefits, dtype: float64

## 9. What is the name of highest paid person (including benefits) ?

In [10]:
sal[sal['TotalPayBenefits'] == sal["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

## 10. What is the name of lowest paid person (including benefits) ?

In [11]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]["EmployeeName"]

'Joe Lopez'

## 11. What was the average(mean) TotalPay of all the employees per year ?

In [12]:
sal.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

## 12. How many unique job titles are there ?

In [13]:
sal["JobTitle"].nunique()

2159

## 13. What are the top 5 most common jobs?

In [14]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64