## Pandas Multi-Index and Index Hierarchy

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [3]:
#Multi-Index DataFrame
hier_index = pd.MultiIndex.from_tuples(hier_index)
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  1.014483  0.121915
   2  0.325659  0.590974
   3  1.815263 -0.670370
G2 1 -1.524632 -0.447009
   2  1.823225  1.651339
   3 -0.189892  0.650694

In [4]:
df.loc['G1'].loc[2] #Multi-Index Indexing

A    0.325659
B    0.590974
Name: 2, dtype: float64

In [5]:
df.loc['G1'].loc[2][0]

0.32565870065911423

In [6]:
df.loc['G1'].loc[2]['A']

0.32565870065911423

In [7]:
df.index.names

FrozenList([None, None])

In [8]:
df.index.names = ['Groups','Num']

In [9]:
df

                   A         B
Groups Num
G1     1    1.014483  0.121915
       2    0.325659  0.590974
       3    1.815263 -0.670370
G2     1   -1.524632 -0.447009
       2    1.823225  1.651339
       3   -0.189892  0.650694

In [10]:
df.loc['G2'].loc[2]['B']

1.6513390140393664

## Cross-Section xs Function - It returns a Cross-section(rows or columns) from the Series or DataFrame

In [11]:
df.xs('G1',level='Groups')#df.loc('')

            A         B
Num
1    1.014483  0.121915
2    0.325659  0.590974
3    1.815263 -0.670370

In [12]:
df.xs('G1') #Grab the value from the outer Index 'G1'

            A         B
Num
1    1.014483  0.121915
2    0.325659  0.590974
3    1.815263 -0.670370

In [13]:
df.xs(1,level='Num') # Grab the values from the inner index 1 across Groups where index='Num'

               A         B
Groups
G1      1.014483  0.121915
G2     -1.524632 -0.447009